@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --primary-color: #1d4ed8 ;
    --dark-gray : #6B7280 ;
    --off-white: #f3f4f6 ;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

section p{
    padding-bottom: 1rem;
    padding-left: 2rem;
}

hr {
    margin: 2rem 0;
}

/* spaces */
.margin-md {
    margin: 2rem;
}

/* container */
.container{
    padding: 2rem 1rem;
}

.container-center{
    max-width: 600px;
    margin: auto;
}

/* links */
.link{
    text-decoration: none;
    padding: 0.5rem 0.5rem;
}
.primary-link{
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
}

.secondary-link{
    text-align: center;
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
}

.social-link{
    color: white;
    border-radius: 0.5rem;
    border: 1px solid white;
}

.link-blog{
    text-align: center;
    padding-right: 2rem;
    padding-top: 1rem;
}

/* List */
.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
    padding: 0 0.5rem;
}

/* Navigation */
.navigation{
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}

.navigation .nav-brand {
    font-weight: bold;
    font-size: 1.1rem;
}

.navigation .nav-pills {
    text-align: right;
}

.navigation .link {
    color: white;
}

.navigation .link-active {
    font-weight: bold;
    border-bottom: 3px solid currentColor;
}


/* Header */
.hero{
    padding: 2rem;
    text-align: center;
    padding-top: 5rem;
}

.hero .hero-img{ 
    max-width: 300px;
    display: block;
    margin: auto;
}

.blog-img{ 
    max-width: 200px;
    display: block;
    margin: auto;
}

.hero .hero-heading{
    text-align: center;
    padding-top: 1rem;
    color:var(--dark-gray) ;
}

.hero .hero-heading .heading-inverted{
    color: var(--primary-color);
    text-decoration: underline;
    text-decoration-color: var(--primary-color);
}

h1 .heading-inverted{
    color: var(--primary-color);
}

/* section */
.section{
    padding: 2rem;
}

.section h1{
    text-align: center;
}

.ow {
    background-color: var(--off-white);
}

/* footer */
.footer{
    background-color: var(--primary-color);
    padding: 2rem 1rem;
    text-align: center;
    color: white;
    border-top-right-radius: 1rem;
}   

.footer-header {
    font-size: large;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: white ;
    padding-bottom: 1rem;
}

.footer .link {
    color: white;
    font-size: small;
    font-weight: bold;
}

.footer ul {
    padding-inline-start: 0px;
}